[Unit]
Description=Laptop Keymap

[Service]
Environment="DISPLAY=:0"
ExecStart=/bin/sh -c '/usr/bin/setxkbmap -I"%h/.xkb" -keycodes "evdev+aliases(qwerty)+local" local -print | /usr/bin/xkbcomp -w 0 -I"%h/.xkb" - $DISPLAY; /usr/bin/xmodmap %h/.xmodmaprc'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=keymap.target

