[Unit]
Description=xcape: capslock to esc/ctrl
After=laptop-keymap.service

[Service]
ExecStart=/usr/bin/xcape -d -e "Control_R=Escape"
Restart=always
RestartSec=10

[Install]
WantedBy=keymap.target
