[Unit]
Description=xcape: capslock to esc/ctrl
After=laptop-keymap.service
PartOf=keymap.target

[Service]
ExecStart=/usr/bin/xcape -d -e "Control_R=Escape;ISO_Level3_Shift=Tab"
Restart=always
RestartSec=10
