" Common
set number relativenumber

" Extensions
set surround

" With a map leader it's possible to do extra key combinations
" like <leader>w saves the current file
let mapleader = " "
let g:mapleader = " "

" Emacs bindings
inoremap <C-H> <BS>
inoremap <C-D> <Del>
inoremap <C-E> <End>
inoremap <C-A> <Home>
inoremap <C-F> <Right>
inoremap <C-B> <Left>
inoremap <C-P> <Up>
inoremap <C-N> <Down>

noremap t :action AceAction<CR>
noremap <leader>jl :action AceLineAction<CR>
